// Variables

$white: #fff !default;
$gray-100: #1976D2 !default;
$gray-200: #1976D2 !default;
$gray-300: #1976D2 !default;
$gray-400: #1976D2 !default;
$gray-500: #1976D2 !default;
$gray-600: #1976D2 !default;
$gray-700: #1976D2 !default;
$gray-800: #1976D2 !default;
$gray-900: #1976D2 !default;
$black: #1976D2 !default;

$primary: #795548 !default;
$secondary: #1976D2 !default;

// $gray: #795548 !default;
// $gray-dark: #795548 !default;
